svg {
    min-width: 16px;
    width: 16px;
    height: 16px;
    fill: currentColor;
}

input {
    border-color: var(--color-border);
}

hr {
    margin: 4px 0 0;
    border-color: var(--color-border);
}

ul {
    list-style: none;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;

    &:focus, &:active {
        outline: none;
    }
}

select {
    background: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.5;
}

input[type='date']::-webkit-calendar-picker-indicator:hover {
    opacity: 0.7;
}

