
.banner {
  height: 100vh;
  font-family: 'Moon Dance', cursive;
  background: #fff;
  color: black;

  &__img-wrapper {
    height: 600px;
    width: 390px;
    position: relative;

    @include respond(xxl) {
      height: 470px;
      width: 320px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform, z-index;
    transition: .3s ease-out;
  }

  &__img-name {
    bottom: -48px;
    letter-spacing: 2px;
  }

  &__img-number-wrap {
    top: -64px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(xxl) {
      top: -56px;
    }

    > span{
      letter-spacing: 2px;
    }

    .banner__img-number {
      position: relative;
      overflow: hidden;
      height: 20px;
      width: 12px;
      margin-right: 4px;
      margin-top: -1px;
    }
  }

  &__anim-txt {
    position: absolute;
    left: 0;
    width: 100%;

    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  &__img-name-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    opacity: 0;
    visibility: hidden;
    font-size: inherit;
    transform: translateY(12px);
  }

  .img-size {
    height: 570px;
    width: 370px;
    @include respond(xxl) {
      height: 470px;
      width: 320px;
    }
  }

  &__text {
    font-weight: normal;
    color: #333;
    font-size: 220px;
    letter-spacing: 72px;

    @include respond(xxl) {
      font-size: 180px;
    }
  }
}


.scroll {
  position: fixed;
  transition: .4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  padding: 20px;
  z-index: 99;
  pointer-events: none;

  &__text {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    font-family: sans-serif;
  }
}


a {
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  color: #666;
  opacity: .7;
  transition: .2s;

  @include respond(sm) {
    font-size: 22px;
  }

  &:hover {
    opacity: 1;
  }
}

.banner__link {
  position: fixed;

  &:nth-child(1) {
    top: 10vh;
    left: 10vh;
  }

  &:nth-child(2) {
    top: 10vh;
    right: 10vh;
  }

  &:nth-child(3) {
    bottom: 10vh;
    right: 10vh;
  }

  &:nth-child(4) {
    bottom: 10vh;
    left: 10vh;
  }

}

.hidden {
  display: none;
}

.block {
  display: block;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  height: auto;
}
